<%= form_with(model: campus, local: true) do |form| %>
  <% if campus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campus.errors.count, "error") %> prohibited this campus from being saved:</h2>

      <ul>
        <% campu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :campus_name, "Nombre de la Sede" %>
    <%= form.text_field :campus_name %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :campus_code, "Código" %>
    <%= form.text_field :campus_code %>
  </div>
</div>


  <div class="actions">
    <%= form.submit "Registrar" %>
  </div>
<% end %>
