<%= form_with(model: subarea, local: true) do |form| %>
  <% if subarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subarea.errors.count, "error") %> prohibited this subarea from being saved:</h2>

      <ul>
        <% subarea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :subarea_name,"Nombre Sub치rea" %>
    <%= form.text_field :subarea_name, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :subarea_code,"C칩digo Sub치rea" %>
    <%= form.text_field :subarea_code, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :area %>
    <%= form.collection_select :area_id, @area, :id, :area_name, prompt: "Elige una 치rea" %>
  </div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
