<p id="notice"><%= notice %></p>

<h1>Subareas</h1>

<table>
  <thead>
    <tr>
      <th>Subarea name</th>
      <th>Subarea code</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subareas.each do |subarea| %>
      <tr>
        <td><%= subarea.subarea_name %></td>
        <td><%= subarea.subarea_code %></td>
        <td><%= subarea.area.area_name %></td>
        <td><%= link_to 'Show', subarea %></td>
        <td><%= link_to 'Edit', edit_subarea_path(subarea) %></td>
        <td><%= link_to 'Destroy', subarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subarea', new_subarea_path %>
