<p>
  <strong>Subarea name:</strong>
  <%= @subarea.subarea_name %>
</p>

<p>
  <strong>Subarea code:</strong>
  <%= @subarea.subarea_code %>
</p>

<p>
  <strong>Area:</strong>
  <%= @subarea.area.area_name %>
</p>

<%= link_to 'Editar', edit_subarea_path(@subarea) %> |
<%= link_to 'Regresar', subareas_path %>
