<%= form_with(model: subprogram, local: true) do |form| %>
  <% if subprogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subprogram.errors.count, "error") %> prohibited this subprogram from being saved:</h2>

      <ul>
        <% subprogram.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group col-md-4">
    <%= form.label :subprogram_name, "Nombre del subprograma" %>
    <%= form.text_field :subprogram_name, class:"form-control" %>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :subprogram_code, "Código" %>
    <%= form.text_field :subprogram_code, class:"form-control" %>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :program, "Programa" %>
    <%= form.collection_select :program_id, @program, :id, :program_name, prompt: "Elige un programa", class:"form-control" %>
  </div>
</div>
 

  <div class="actions">
    <%= form.submit "Registrar", class: "btn btn-outline-dark"%>
  </div>
<% end %>
