<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :program_name, "Nombre de Programa" %>
    <%= form.text_field :program_name, class:"form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :program_code, "Código del programa" %>
    <%= form.text_field :program_code, class:"form-control" %>
  </div>
</div>


  <div class="actions">
    <%= form.submit "Registrar" %>
  </div>
<% end %>
