<div class="row">
  <div class="col-md-10">
    <h1>Participantes por actividad</h1>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Actividad</th>
    </tr>
  </thead>
  <tbody>
    <% @participants_per_activity.each do |activity| %>
    <div>
      <% if activity.participants.any? %>
        <tr>
          <th><%= activity.activity_name %>  --   <%= activity.end_date.strftime("%F") %>  --   <%= activity.place.place_name %> (<%= activity.campus.campus_name %>)</th>
        </tr>
        <% activity.participants.each do |participant| %>
          <tr>
            <th><%= participant %></th>
          </tr>
        <%end %>
      <%end %>
    </div>
    <%end %>
  </tbody>
</table>


<div class="row">
  <div class="col-md-10">
    <h1>Participantes de nuestras actividades</h1>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr>
        <th>Código</th>
        <th>Facultad</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant %></td>
          <td>Facultad </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>