<%= form_with(model: action, local: true) do |form| %>
  <% if action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
        <% action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :action_name, "Nombre del Proceso" %>
      <%= form.text_field :action_name %>
    </div>
  
    <div class="form-group col-md-3">
      <%= form.label :action_code, "Código" %>
      <%= form.text_field :action_code %>
    </div>
  </div>
  

  <div class="actions">
    <%= form.submit "Registrar Proceso", class: "btn btn-outline-dark" %>
  </div>
<% end %>
