<div class="jumbotron">
  <div class="container text-center text-lg-left">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="display-4"><%= @subject.title %> </h1><br>
        <h2><span class="highlight-word"> <%= @subject.teacher_name %> </span></h2>
        <p class="lead"><%= @subject.description %>.</p>
        <ul>
          <li>Número de créditos: <%= @subject.credits %> cred.</li>
          <li>Horario: <%= @subject.schedule %> H.</li>
          <li>Sede: <%= @subject.campus.campus_name %></li>
        </ul>   
      </div>
      <div class="col-lg-4 align-items-center d-flex">
        <p class="symbol_show" ><%= @subject.code %></p> 
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
