<div class="row">
  <div class="col-md-8">
    <%= form_with(model: @activity, url: participants_path,  local: true) do |form| %>
      <%= form.hidden_field :id, value: @activity.id %>
      <%= form.label :participants, "Registrar participante" %>
      <%= form.number_field :participants, value: "", autofocus: true %>
      <%= form.submit "Registrar participación" %>
    <%end %>
  </div>
</div>

<%= link_to "Convertir a PDF", activity_convert_path(@activity), target: "_blank" %>
<% if @activity.report %>
  <%= link_to "Registrar reporte", new_report_path(activity_id: @activity)%>
<%end %>
<%= render "info" %>







<%= link_to 'Editar', edit_activity_path(@activity) %> |
<%= link_to 'Regresar', activities_path %>
