<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 class="text-center"><%= @activity.activity_name %></h1>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-8">
      <%= form_with(model: @activity, url: participants_path,  local: true) do |form| %>
        <%= form.hidden_field :id, value: @activity.id %>
        <%= form.label :participants, "Registrar participante" %>
        <%= form.number_field :participants, value: "" %>
        <%= form.submit %>
      <%end %>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Tipo de actividad:</strong>
        <%= @activity.type.type_name %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Área:</strong>
        <%= @activity.area.area_name %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Subárea:</strong>
        <%= @activity.subarea.subarea_name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Procesos:</strong>
        <%= @activity.action.action_name %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Programas:</strong>
        <%= @activity.program.program_name %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Subprogramas:</strong>
        <%= @activity.subprogram.subprogram_name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Fecha de Inicio:</strong>
        <%= @activity.start_date %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Fecha Final:</strong>
        <%= @activity.end_date %>
      </p>
    </div>
    <div class="col-md-3 border border-secondary">
      <p>
        <strong>Lugar:</strong>
        <%= @activity.place.place_name %>
      </p>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-10">
      <h3 class="text-left">Listado de participantes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código o cédula</th>
            <th>Firma</th>
          </tr>
        </thead>
        <tbody>
          <%@activity.participants.sort.each do |p| %>
            <%= content_tag(:tr, content_tag(:th, "#{p}")) %>
          <%end %>
        </tbody>
      </table>
    </div>
  </div>


</div>







<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
