<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <%= form_with(model: @activity, url: participants_path,  local: true) do |form| %>
      <%= form.hidden_field :id, value: @activity.id %>
      <%= form.label :participants, "Registrar participante" %>
      <%= form.number_field :participants, value: "" %>
      <%= form.submit %>
    <%end %>
  </div>
</div>

<%= link_to "Convertir a PDF", activity_convert_path(@activity), target: "_blank" %>

<%= render "info" %>







<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
