<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-2">
      <%= form.label :expense_type, "Tipo de gasto" %>
      <%= form.select :expense_type, Expense::EXPENSES_TYPES, prompt: "Elige Uno" %>
    </div>
  
    <div class="form-group col-md-2">
      <%= form.label :client_type, "Tipo de cliente" %>
      <%= form.select :client_type, Expense::CLIENTS_TYPES, prompt: "elige Uno" %>
    </div>


    <div class="form-group col-md-3">
      <%= form.label :budget_id, "Rubro" %>
      <%= form.collection_select :budget_id, @budget, :id, :item, prompt: "Elige Uno"%>
    </div>
  </div>

<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :name, "Nombre del cliente" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :bill_number, "Número de factura" %>
    <%= form.text_field :bill_number %>
  </div>

  <div class="form-group col-md-3">
    <%= form.label :siaf_code, "Código SIAF" %>
    <%= form.text_field :siaf_code %>
  </div>

</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :amount, "Costo" %>
    <%= form.number_field :amount %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :date, "Fecha de registro" %>
    <%= form.date_select :date %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-8 ">
    <%= form.label :description, "Descripción" %>
    <%= form.text_area :description, class: "form-control form-control-lg", row: 3 %>
  </div>
</div>

  
<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :activity_id, "Actividad Vinculada" %>
    <%= form.collection_select :activity_id, @activity, :id, :activity_name%>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <%= form.label :petty_cash, "Caja Menor?" %>
    <%= form.check_box :petty_cash %>
  </div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
