<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Dirección de Vida Universitaria", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= render "layouts/navbar/activities" %>
      <%= render "layouts/navbar/expenses" %>
      <%= render "layouts/navbar/budgets" %>
      <%= render "layouts/navbar/admin" %>
    </ul>
    <ul class="right">
      <%= render "layouts/navbar/user" %>
    </ul>
  </div>
</nav>

