<!DOCTYPE html>
<html>
  <head>
    <title>Dirección de Vida Universitaria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <br>
      <% if flash[:notice] %>
      <div class="alert alert-info notice"><%= flash[:notice] %></div>
      <%end %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
